<wrapper>
<h1>Editing Note</h1>
<center>
<%= render 'form', campaigns_to_do: @campaigns_to_do %>
</center>
<%= link_to 'Show', @campaigns_to_do %> |
<%= link_to 'Back', campaigns_to_dos_path %>
</wrapper>