// Place all the styles related to the CampaignsToDos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
    background-color: #bbb9bb;
    width:90%;
}

input#campaigns_to_do_Notes {
    height: 200px;
}
