// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#note_Title {
    background-color: #bbb9bb;
    width:90%;
}

input#note_Notes {
    background-color: #bbb9bb;
    width:90%;
    height: 200px;
}

wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #7c8978;
}