// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:link, a:active, a:visited {
   color: #ffffff;
}

a:hover {	
	color: #cccccc;
	}

p { 
   color: #ffffff;
   line-height: 150%;
}

div#container {
   width: 700px;
   margin: 0 auto;
}

div#header {
   text-align: center;
   padding-bottom: 5px;
}

div#content {
   float: center;
   width: 450px;
   padding: 10px;
}

div#content h3 {
   margin-top: 5px;
}

table, {
   border: 1px solid white;
   width: 90%;
   tr:nth-child(even) {background-color: #696c70}
}

tr {
  border: 1px solid black;
  }

td {
  width: 70%;
  }

th { 
  height: 50px;
  text-align:left;
  width: 70%;
  border-bottom: 1px solid #ffffff;
  }

div#sidebar {
   width: 200px;
   margin-left: 480px;
}


actions {
  width: 60%;
  margin:0 auto;
}


